<%= render "homepage/header"%>

<h1>Specialization#index</h1>

<table border="2" cellpadding="10" cellspacing="5" width= "70%" >
  <tr align= "center">
    <th>ID</th>
    <th>NAME</th>
  </tr>
  <% @specializations.each do |specialization| %>
    <tr align="center">
      <td><%= specialization.id %></td>
      <td><%= specialization.name %></td>
      <td><%= link_to 'Show', specialization %></td>
      <td><%= link_to 'Delete', specialization, method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
<%= link_to "Home", homepage_index_path %> 
<%= link_to "New specialization", new_specialization_path %>