<%= render "homepage/header"%>

<h1>Specialization#show</h1>

<table border="2" cellpadding="10" cellspacing="5" width= "70%" >
  <tr align= "center">
    <th>ID</th>
    <th>NAME</th>
  </tr>
  <tr align="center">
    <td><%= @specialization.id %></td>
    <td><%= @specialization.name %></td>
    <td><%= link_to 'edit', edit_specialization_path(@specialization) %></td>
    </tr>
</table>
<%= link_to "Home", homepage_index_path %> 
<%= link_to "New Specialization", new_specialization_path %><br/>
<%= link_to "List of Specializations", specializations_path %><br/>
