<%= render "homepage/header"%>

<h1>Doctors#index</h1>

<%= form_tag doctors_path, :method => 'get', :id => "doctors-search", remote: true do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search By Name", :name => nil %>
  </p>
  <div id="records">
    <%= render "index_partial" %>
  </div>
<% end %>

<%= link_to "Home", "homepage/index" %> 
<%= link_to "New Doctor", "/doctors/new" %>
<!--
<%#= link_to "Home", homepage_index_path %> 
<#%= link_to "New Doctor", new_doctor_path %>
-->

    <!-- <th>NAME <a href="#"><i class="fa fa-angle-down"></i></a></th> -->
    <!-- <th>NAME  -->
    <%#= link_to '<i class="fa fa-angle-up"></i>'.html_safe, doctors_path( anchor: "", id: "doctor-name-asc")%>

    <%#= link_to '<i class="fa fa-angle-down"></i>'.html_safe, doctors_path( anchor: "", id: "doctor-name-desc") %>
    <!-- </th> -->

<!-- Chart representation -->

<!-- with gem 'highcharts-rails' -->
<%#= column_chart Doctor.group_by_day(:created_at).count %>
<%#= line_chart current_user.carts.group_by_month(:date, last: 12, current: false).sum('carts.total_cents / 100') %> <!-- reference -->

<!-- without gem -->
<div id="practice-container1" style="width:100%; height:400px;"></div>
<br /><br /><br />
<div id="practice-container2" style="width:1200px; height:400px;"></div>
<br /><br /><br />
<div id= "doctor-container" style="width:1200px; height:400px;">

</div>
<%= @array %>
  <%#= @doc.group_by_day(:created_at).count %>
<!-- <br /><br /><br />
  <%#= @doc.group(:created_at).count.to_a %> -->


<!-- Scripts -->
<script src="https://code.highcharts.com/highcharts.js"></script>
<script>

  $(function () { 
    // var myChart = Highcharts.chart('doctor-container', {
    // $('#doctor-container').highcharts({
    var myChart = Highcharts.chart({
      chart: {
        renderTo: 'practice-container1',
        type: 'bar'
      },
      title: {
        text: 'Fruit Consumption'
      },
      xAxis: {
        categories: ['Apples', 'Bananas', 'Oranges']
      },
      yAxis: {
        title: {
          text: 'Fruit eaten'
        }
      },
      series: [{
        name: 'Jane',
        data: [1, 0, 4]
      }, {
        name: 'John',
        data: [5, 7, 3]
      }]
    });
  });
</script>

<script type="text/javascript">
  $(document).ready(function() {
    var chart = new Highcharts.Chart(options);
  });
  var options = {
      chart: {
        renderTo: 'practice-container2',
        type: 'column'
      },
      title: {
        text: "A food fest"
      },
      subtitle: {
        text: 'How much can you eat'
      },
      series: [{
          name: 'Jane',
          // pointStart: Date.UTC(2007, 10, 1),
          // pointInterval: 24 * 3600 * 1000, 
          // pointIntervalUnit: 'month',
          // data: [[19,6], [44,1], [12,0], [23,4]]  //for [x,y]
          // data: [19.6, 44.1, 12.0,{ y: 21.4, color: '#BF0B23'}, 23.4]
          data: [
            [Date.UTC(2017, 10, 25), 0],
            [Date.UTC(2017, 11,  6), 0.25],
            [Date.UTC(2017, 11, 20), 1.41],
            [Date.UTC(2017, 11, 25), 1.64],
            [Date.UTC(2018, 0,  4), 1.6],
            [Date.UTC(2018, 0, 17), 2.55]
            ]
      }],
      xAxis: {
        type: 'datetime',
        dateTimeLabelFormats: {
            day: '%e %b %Y'
        }
      }
  };
</script>

<script type="text/javascript">  
  // var array = <%#= @doc.inspect.html_safe %>;
  $(document).ready(function() {
    var doctorChart = new Highcharts.Chart('doctor-container',{
      chart: {
        type: 'column'
      },
      title: {
        text: 'Doctors List'
      },
      xAxis: {
        type: 'datetime'
        // categories: Doctor.group_by_day(:created_at).count
      },
      yAxis: {
        // type: 'linear'
      },
      series: [{
        // keys: ['', 'x', 'y'],
        // data: [[27 May 2018, 2], [28 May 2018, 1], [29 May 2018, 1], [30 May 2018, 1], [31 May 2018, 1], [01 Jun 2018, 1]]
        data: <%= @array %>
        // data: <%#= @doc.group_by_day(:created_at, format: "%d %b").count.to_a %>
        // data: <%#= @doc.map { |doc| [doc.created_at] } %>
      }]
    });
  });

</script>
<!-- f.series(:name => 'Value',
           :data => YourModel
                      .map { |i| [i.created_at.to_time.to_i * 1000,
                                  i.your_value] })
@doctors.each do |doc|
                .group_by_day(:created_at).count
              end -->

<!-- (3).downto(1) do |i|
  @doc.where( 'created_at >= ? and created_at<= ?', i.month.ago, (i-1).month.ago).count
end -->

