<%= render "homepage/header"%>

<h1>Doctors#new</h1>
<%= render "form" %><br/>


<%= link_to "Clear", "/doctors/new" %><br/>
<!-- <%#= link_to "Clear", new_patient_path %> -->

<%= link_to "List of Doctors", "/doctors" %><br/>
<!-- <%#= link_to "List of Doctors", patients_path %> -->


<script type="text/javascript">
  <%= render "validate.js" %>
</script>
