<h1>Doctor#show</h1>
<table border="2" cellpadding="10" cellspacing="5" width= "70%" >
  <tr align= "center">
    <th>ID</th>
    <th>NAME</th>
    <th>PHONE NO</th>
    <th>SALARY</th>
    <th>SPECIALIZATION ID</th>
  </tr>
  <tr align="center">
    <td><%= @doctor.id %></td>
    <td><%= @doctor.name %></td>
    <td><%= @doctor.ph_no %></td>
    <td><%= @doctor.salary %></td>
    <td><%= @doctor.specialization_id %></td>
    </tr>
</table>
<%= link_to "Home", "homepage/index" %> 
<%= link_to "New Doctor", "/doctors/new" %>
