<%= render "homepage/header"%>

<h1>Appointment#new</h1>
<%= render "form" %><br/>

<%= link_to "Clear", new_patient_path %><br/>
<%= link_to "List of Patients", patients_path %><br/>
<%= link_to "Home", homepage_index_path %> 
