<%= render "homepage/header"%>

<h1>Appointment#show</h1>

<table border="2" cellpadding="10" cellspacing="5" width= "70%" >
  <tr align= "center">
    <th>ID</th>
    <th>PATIENT NAME</th>
    <th>DOCTOR MANE</th>
    <th>DATE</th>
    <th>TIME</th>
  </tr>
  <tr align="center">
    <td><%= @appointment.id %></td>
    <td><%= @appointment.patient_id %></td>
    <td><%= @appointment.doctor_id %></td>
    <td><%= @appointment.date %></td>
    <td><%= @appointment.time %></td>
    <td><%= link_to 'edit', edit_appointment_path(@appointment) %></td>
    </tr>
</table>
<%= link_to "Home", homepage_index_path %> 
<%= link_to "Book Appointment", new_appointment_path %>
<%= link_to "List of Appointments", appointments_path %>
