<%= form_for @patient do |f| %>
  <% if @patient.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@patient.errors.count, "error") %> prohibited
        this form from being saved:
      </h2>
      <ul>
        <% @patient.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.label :name %> :
  <%= f.text_field :name %><br /><br />
  
  <!--   <%= date_field_tag 'date', '01/01/2014', class: 'special_input', max: "Date.today" %>-->
  <%= f.label :d_o_b, "D O B" %> :
  <%= f.date_field("d_o_b", max: Date.today) %><br /><br />
  
  <%= f.label :gender %> :
  <%= f.radio_button :gender, 'Male' %> Male &emsp;
  <%= f.radio_button :gender, 'Female' %> Female &emsp;
  <%= f.radio_button :gender, 'Others', :checked => true  %> Others<br /><br />
  
  <%= f.label :ph_no, "Ph No. " %> :
  <%= f.text_field :ph_no %><br /><br />
  
  <%= f.submit %> 
<%end%>